---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Carousel Gallery">
  <section>
    <h2>Welcome!</h2>
  </section>
</Layout>

<style>
  section {
    padding: 5vmin;
  }
</style>
