@layer system, components, utilities;

@import "open-props/style" layer(system);
@import "open-props/normalize" layer(system);
@import "open-props/buttons" layer(system);

@import "./fonts.css" layer(system);
@import "./utilities.css" layer(utilities);

@view-transition {
  navigation: auto;
}

code {
  background: light-dark(white, var(--gray-10));
  
  @supports (text-box: cap alphabetic) {
    text-box: cap alphabetic;
    line-height: 1cap;
    padding-block: .25cap;
  }
}