---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Carousel Gallery">
  <section>
    <header>
      <h2>Vertical List</h2>
      <div class="tags">
        <span>Scroll Buttons</span>
        <span>Scroll Markers</span>
        <span>Scroll-State Queries</span>
        <span>Anchor</span>
      </div>
      <!-- move tabindex=0 to another demo -->
      <p>A basic vertical carousel example with scroll buttons and markers.</p>
    </header>

    <div role="region" aria-label="List carousel demo">
      <div
        class="carousel carousel--vertical carousel--scroll-markers carousel--scroll-buttons carousel--offscreen-inert"
        aria-live="polite"
      >
        <div class="carousel__slide" tabindex="0" data-label="Slide 1">
          <p>1</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 2">
          <p>2</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 3">
          <p>3</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 4">
          <p>4</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 5">
          <p>5</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 6">
          <p>6</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 7">
          <p>7</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 8">
          <p>8</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 9">
          <p>9</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 10">
          <p>10</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 11">
          <p>11</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 12">
          <p>12</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 13">
          <p>13</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 14">
          <p>14</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 15">
          <p>15</p>
        </div>
        <div class="carousel__slide" tabindex="0" data-label="Slide 16">
          <p>16</p>
        </div>
      </div>
    </div>
  </section>
</Layout>

<style>
  .carousel {
    block-size: 50svh;
    max-inline-size: var(--size-content-2);

    display: grid;
    grid-auto-flow: row;
    gap: var(--size-4);

    @media (width <= 650px) {
      margin-inline-start: 55px;
      margin-inline-end: 5vmin;
    }

    &::before,
    &::after {
      content: "";
      display: block;
      block-size: 85cqi;
    }

    .carousel__slide {
      background: light-dark(white, var(--surface-2));
      padding: 0;
      container-type: scroll-state;

      display: inline-flex;
      place-items: center;
      place-content: center;

      aspect-ratio: var(--ratio-landscape);

      border: 1px solid var(--surface-3);
      box-shadow: var(--shadow-2);
      border-radius: var(--radius-2);

      > p {
        font-family: var(--font-antique);
        font-size: var(--font-size-5);
        transition: font-size 1s var(--ease-spring-4);
      }

      @container scroll-state(snapped: block) {
        > p {
          color: var(--link);
          font-size: var(--font-size-7);
        }
      }

      /* todo: maybe remove? */
      &:focus {
        outline: 2px solid var(--link);
        outline-offset: -2px;
      }
    }
  }

  section > header {
    @media (width > 650px) {
      padding-inline: 0;
    }
  }
</style>
