---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Carousel Gallery">
  <section>
    <header>
      <h2>Horizontal List</h2>
      <div class="tags">
        <span>Scroll Buttons</span>
        <span>Scroll Markers</span>
        <span>Scroll State Queries</span>
        <span>Scroll Driven Animation</span>
        <span>interactivity: inert</span>
        <span>Anchor</span>
      </div>
      <p>
        This is a regular list of items, but they've been given <code
          >tabindex=0</code
        > so they can be focused. In addition, <code>interactivity: inert</code>
        is used with scroll driven animation <code>view(x)</code> to make offscreen
        items non-focusable. Items in this state also have reduced opacity.
      </p>
      <p>
        Scroll buttons also responsively adapt to inner or outer positioning
        based on availability!
      </p>
    </header>

    <ul class="carousel scroll-markers scroll-buttons">
      <li tabindex="0"><p>1</p></li>
      <li tabindex="0"><p>2</p></li>
      <li tabindex="0"><p>3</p></li>
      <li tabindex="0"><p>4</p></li>
      <li tabindex="0"><p>5</p></li>
      <li tabindex="0"><p>6</p></li>
      <li tabindex="0"><p>7</p></li>
      <li tabindex="0"><p>8</p></li>
      <li tabindex="0"><p>9</p></li>
      <li tabindex="0"><p>10</p></li>
      <li tabindex="0"><p>11</p></li>
      <li tabindex="0"><p>12</p></li>
      <li tabindex="0"><p>13</p></li>
      <li tabindex="0"><p>14</p></li>
      <li tabindex="0"><p>15</p></li>
      <li tabindex="0"><p>16</p></li>
    </ul>
  </section>
</Layout>

<style>
  /* must be 20% in view or else inert */
  @keyframes offscreen-inert {
    entry 0%,
    entry 19%,
    exit 100% {
      interactivity: inert;
      opacity: 0.25;
    }
    entry 20%,
    exit 99% {
      interactivity: auto;
      opacity: 1;
    }
  }

  .carousel {
    /* Reset list styles */
    list-style-type: none;
    counter-reset: item;

    /* Styles and layout */
    inline-size: 100cqi;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--size-content-1);
    gap: var(--size-4);
    padding-inline: 5vmin;
    padding-block: var(--size-2);
    scroll-padding-inline: 5vmin;

    &::before,
    &::after {
      content: "";
      display: block;
      inline-size: 85cqi;
    }

    &::scroll-button(left),
    &::scroll-button(right) {
      position-area: var(--_inner);
    }

    & > li {
      animation: offscreen-inert linear both;
      animation-timeline: view(x);

      background: light-dark(white, var(--surface-2));
      padding: 0;

      display: inline-flex;
      place-items: center;
      place-content: center;

      aspect-ratio: var(--ratio-portrait);

      border: 1px solid var(--surface-3);
      box-shadow: var(--shadow-2);
      border-radius: var(--radius-2);

      > p {
        font-family: var(--font-antique);
        font-size: var(--font-size-5);
        transition: font-size 1s var(--ease-spring-4);
      }

      @container scroll-state(snapped: inline) {
        > p {
          color: var(--link);
          font-size: var(--font-size-7);
        }
      }
    }
  }
</style>
