---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Carousel Gallery">
  <section>
    <header>
      <h2>Media Player</h2>
      <div class="tags">
        <span>Scroll Buttons</span>
        <span>Scroll Markers</span>
        <span>Scroll Driven Animation</span>
        <span>interactivity: inert</span>
        <span>Anchor</span>
      </div>
      <p>
        Scroll buttons are used as next and previous track controls and scroll
        markers are each track, appearing to be a playlist while still
        functioning the same as if they were dots.
      </p>
      <p>
        Very nice that the next and previous track buttons automatically disable
        when at the end or beginning.
      </p>
    </header>

    <div class="media-player">
      <ul class="carousel scroll-buttons">
        <li title="Jenny Was a Friend of Mine"></li>
        <li title="Mr. Brightside"></li>
        <li title="Smile Like You Mean It"></li>
        <li title="Somebody Told Me"></li>
        <li title="All These Things That I've Done"></li>
        <li title="Andy, You're a Star"></li>
        <li title="On Top"></li>
        <li title="Change Your Mind"></li>
        <li title="Believe Me Natalie"></li>
        <li title="Midnight Show"></li>
        <li title="Everything Will Be Alright"></li>
      </ul>
      <footer>
        <p title="Artist name">The Killers</p>
      </footer>
      <progress value="30" max="100"></progress>
      <div class="controls">
        <button aria-label="Pause">
          <div class="icon">pause</div>
        </button>
      </div>
    </div>
  </section>
</Layout>

<style>
  /* must be 20% in view or else inert */
  @keyframes offscreen-inert {
    entry 0%,
    exit 100% {
      interactivity: inert;
      opacity: 0.25;
    }
    entry 20%,
    exit 80% {
      interactivity: auto;
      opacity: 1;
    }
  }

  .media-player {
    display: grid;
    gap: var(--size-5);
    place-items: center;

    --album-size: min(var(--size-content-2), 80vw);

    > footer {
      display: grid;
      place-items: center;

      > p {
        font-weight: 100;
        letter-spacing: 0.1ch;
        color: var(--text-2);
        margin-block-start: calc(-1 * var(--size-5));
      }
    }

    > progress {
      appearance: none;
      block-size: 5px;
      border: none;
      border-radius: var(--radius-round);
      background: light-dark(white, var(--surface-2));
      padding: 0;
      margin: 0;

      &::-webkit-progress-bar,
      &::-webkit-progress-value {
        border-radius: var(--radius-round);
      }

      &::-webkit-progress-bar {
        background: var(--surface-3);
      }

      &::-webkit-progress-value {
        background: var(--link);
      }
    }
  }

  .carousel {
    scroll-marker-group: after;
    container-type: inline-size;

    /* Reset list styles */
    list-style-type: none;
    counter-reset: item;

    /* Styles and layout */
    inline-size: var(--album-size);

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--album-size);
    grid-template-rows: var(--album-size);
    gap: var(--size-4);
    padding: 0;
    scroll-padding: 0;
    border-radius: var(--radius-4);

    &::before,
    &::after {
      content: "";
      display: block;
      inline-size: 85cqi;
    }

    &::scroll-button(left),
    &::scroll-button(right) {
      position-anchor: --media-controls;
      position-area: var(--_outer) !important;

      @media (prefers-color-scheme: light) {
        background-color: white;
      }
    }

    &::scroll-button(left) {
      content: "skip_previous" / "Previous Track";
    }
    &::scroll-button(right) {
      content: "skip_next" / "Next Track";
    }

    &::scroll-button(left):disabled,
    &::scroll-button(right):disabled {
      opacity: 1;
    }

    &::scroll-marker-group {
      display: grid;
      grid-auto-flow: column;
      place-items: center;
      grid-template-columns: 100%;
      gap: 50cqi;

      inline-size: 100%;
      max-inline-size: var(--album-size);
      overflow-x: auto;
      scrollbar-width: none;
      scroll-snap-type: x mandatory;

      mask: linear-gradient(
        to right,
        transparent 0,
        black 10px,
        black calc(100% - 10px),
        transparent 100%
      );

      font-size: var(--font-size-4);
      block-size: 1lh;
    }

    & > li {
      animation: offscreen-inert linear both;
      animation-timeline: view(x);

      background-color: light-dark(white, var(--surface-2));
      background-image: url(/carousel/hot-fuss.jpg);
      background-size: cover;
      padding: 0;

      display: inline-flex;
      place-items: center;
      place-content: center;

      aspect-ratio: 1;

      border: 1px solid var(--surface-3);
      box-shadow: var(--shadow-2);
      border-radius: var(--radius-4);

      &::scroll-marker {
        /* track title pulled from <li> title attribute */
        content: attr(title);

        text-align: center;
        white-space: nowrap;
        font-weight: 700;
        color: var(--text-1);
        text-decoration: none;

        /* ellipse overflow */
        inline-size: 100cqi;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        font-size: var(--font-size-4);

        /* forces centering of each track when album cover snaps */
        scroll-snap-align: center;

        /* animate when current snap */
        opacity: 0;
        transition: opacity 1.5s var(--ease-5);
      }

      &::scroll-marker:target-current {
        opacity: 1;
      }

      &::scroll-marker:focus-visible {
        outline: none;
        color: var(--link);
      }
    }
  }

  .controls {
    display: flex;
    gap: var(--size-5);

    anchor-name: --media-controls;

    > button {
      aspect-ratio: 1;
      background: light-dark(white, var(--surface-2));
      border: 1px solid var(--surface-3);
      border-radius: var(--radius-round);
    }
  }

  :global(main > section) {
    place-items: center;
  }
</style>
