---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Carousel Gallery">
  <section>
    <header>
      <h2>Tabs</h2>
      <div class="tags">
        <span>Scroll Markers</span>
        <span>Scroll-State Queries</span>
        <span>interactivity: inert</span>
        <span>Anchor</span>
      </div>
      <p>
        Yep, these tab buttons on top are "just scroll markers" with contextual
        text inside.
      </p>
      <p>
        See also <a href="/carousel/vertical/scroll-spy/">Scrollspy</a>
        and <a href="/carousel/horizontal/series/">TV Series</a>.
      </p>
    </header>

    <div class="carousel tabs">
      <div aria-label="Main Section" class="carousel--snap">
        <div class="carousel--scroller">
          <section>
            <p>
              Proin sodales condimentum felis, mattis tristique sem porttitor
              vitae. Suspendisse id condimentum orci. Interdum et malesuada
              fames ac ante ipsum primis in faucibus. Integer a nunc dignissim,
              varius urna nec, placerat ex. Vestibulum lacinia tempus semper.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
              finibus nibh dolor, eget dictum mauris pharetra ac. Nulla gravida
              gravida mauris, imperdiet efficitur diam congue et. Nam pharetra
              nulla sed pellentesque pulvinar. Nulla eu pretium ligula.
              Curabitur vulputate, nulla quis laoreet ornare, mauris ex pretium
              ligula, at dapibus lacus elit ac nibh.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
              finibus nibh dolor, eget dictum mauris pharetra ac. Nulla gravida
              gravida mauris, imperdiet efficitur diam congue et. Nam pharetra
              nulla sed pellentesque pulvinar. Nulla eu pretium ligula.
              Curabitur vulputate, nulla quis laoreet ornare, mauris ex pretium
              ligula, at dapibus lacus elit ac nibh.
            </p>
          </section>
        </div>
      </div>

      <div aria-label="Details Section" class="carousel--snap">
        <div class="carousel--scroller">
          <section>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              id cupiditate distinctio hic eum blanditiis in, temporibus itaque
              dolore, unde explicabo! Voluptates veniam perferendis debitis
              recusandae quod vero porro quidem!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              id cupiditate distinctio hic eum blanditiis in, temporibus itaque
              dolore, unde explicabo! Voluptates veniam perferendis debitis
              recusandae quod vero porro quidem!
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
              id cupiditate distinctio hic eum blanditiis in, temporibus itaque
              dolore, unde explicabo! Voluptates veniam perferendis debitis
              recusandae quod vero porro quidem!
            </p>
          </section>
        </div>
      </div>

      <div aria-label="Follow Up Section" class="carousel--snap">
        <div class="carousel--scroller">
          <section>
            <p>
              Nam ex leo, auctor vitae lectus ac, imperdiet viverra nisi.
              Maecenas augue arcu, vulputate nec posuere ac, iaculis dignissim
              ipsum. Nam efficitur quam ac turpis mollis viverra.
            </p>
            <p>
              Donec pulvinar nisl dolor, vel tincidunt magna viverra vel.
              Curabitur pharetra ex sit amet urna interdum finibus. In arcu est,
              efficitur nec velit at, scelerisque efficitur dolor. Praesent orci
              turpis, interdum et diam nec, ornare ullamcorper tortor.
            </p>
            <p>
              Donec pulvinar nisl dolor, vel tincidunt magna viverra vel.
              Curabitur pharetra ex sit amet urna interdum finibus. In arcu est,
              efficitur nec velit at, scelerisque efficitur dolor. Praesent orci
              turpis, interdum et diam nec, ornare ullamcorper tortor.
            </p>
          </section>
        </div>
      </div>
    </div>

    <style>
      .tabs {
        overflow-y: hidden;
        scroll-marker-group: before;
        scroll-behavior: auto;

        inline-size: 50ch;
        block-size: 10lh;
        max-inline-size: 100cqi;
        margin-block-start: 3lh; /* size of marker group */

        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 100%;
        gap: var(--size-5);

        border: 1px solid var(--surface-2);
        border-top-right-radius: var(--radius-2);

        &::scroll-marker-group {
          overflow-x: auto;
          overscroll-behavior-x: contain;
          scrollbar-width: none;
          inline-size: 100%;
          max-inline-size: 100cqi;
          block-size: 2lh;

          position: absolute;
          position-anchor: --carousel;
          bottom: anchor(top);
          left: anchor(left);
          right: anchor(right);

          display: flex;
          column-gap: var(--size-1);
          align-items: end;
          justify-content: start;
        }

        .carousel--snap {
          scroll-snap-align: start;
          container-type: scroll-state;

          &::scroll-marker {
            content: attr(aria-label);
            text-decoration: none;
            -webkit-tap-highlight-color: transparent;
            white-space: nowrap;
            background: light-dark(white, var(--surface-2));
            border: 1px solid var(--surface-2);
            border-bottom: none;
            padding-inline: var(--size-4);
            padding-block: var(--size-2);
            border-top-left-radius: var(--radius-2);
            border-top-right-radius: var(--radius-2);
          }

          &::scroll-marker:not(:target-current, :focus-visible) {
            color: var(--text-2);
          }

          &::scroll-marker:target-current {
            color: var(--text-1);
            border-bottom: 2px solid var(--link);
          }

          &::scroll-marker:focus-visible {
            outline-offset: 2px;
            outline: 2px solid var(--link);
          }
        }

        .carousel--scroller {
          overflow-y: auto;
          max-block-size: 10lh;

          @container not scroll-state(snapped) {
            interactivity: inert;
            opacity: 0.5;
          }

          &:focus-visible {
            outline-offset: -5px;
          }

          > section {
            display: grid;
            gap: var(--size-3);
            padding: var(--size-3);
            transition: opacity 0.3s var(--ease-3);
            background: light-dark(white, var(--surface-1));
          }
        }
      }

      :global(main) > section {
        display: grid;
        place-content: center;
        place-items: center;
        gap: 5vmin;
        padding-block: 5vmin;
      }
    </style>
  </section>
</Layout>
